@import "../../styles/var";
.storeEditCity {
  .modal{
    background-color: #00000079;
  }
  .header {
    .icon {
      font-size: $font-lg;
      color: $bb-dark;
    }
    .heading {
      color: $bb-dark;
    }
  }
  
}
