@import "../../styles/var";
.navbar{
    background-color: $primary-navbar;
    height:100px;
    .navlink_container{
        li{
            a{
                font-size: 18px ;
                color:#F6F7F6
            }
        }
    }
}