.navbar{
    z-index: 100;
    background-color: #1F3820;
    height:100px;
    .navlink_container{
        background-color: #1F3820;
        li{
            a{
                font-size: 18px ;
                color:#F6F7F6
            }
        }
    }
}