@import "../../styles/var";
.aboutDesc {
  .about_img {
    img {
      height: 90%;
      width: 100%;
    }
  }
  .about_title {
    background-color: $primary-coffee;
    font-size: 20px;
    width: fit-content;
  }
  .about_desc {
    font-size: 18px;
    color: $text-gray;
    p {
      text-align: justify;
      ul {
        li {
          position: relative;
          list-style: none;
          padding-left: 30px;
          margin: 20px 0px;
          color: $plain-black;
          &::before {
            content: "\2713";
            position: absolute;
            left: 0;
            background-color: $primary-coffee;
            color: white;
            border-radius: 50% 50%;
            padding: 2px 6px;
            font-size: $font-sm;
          }
        }
      }
    }
  }
  
}
