@import ".../../../../styles/var";
.navbar {
  &::-webkit-scrollbar {
    height: 6px;
    background-color: $primary-coffee-light;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-coffee;
  }
  button {
    background-color: $primary-light;
    border: 1px solid $primary-light-green;
    margin: 10px;
    color: $chocolate-dark;
  }
  .activeBtn {
    background-color: $green-dark;
    color: white;
  }
}
