$primary-blue:#18ABFF;
$primary-light:#FFFFFF;
$primary-red:#DA251C;
$primary-orange:#F97605;
$primary-dark-green:#1F3820;
$primary-dark:#1F3A49;
$primary-dark-tea:#1E151F;
$primary-light-pink:#FEF7F7;

$text-gray:#B5A8A8;