$primary-blue:#18ABFF;
$primary-light:#FFFFFF;
$primary-red:#DA251C;
$primary-orange:#F97605;
$primary-dark-green:#1F3820;
$primary-dark:#1F3A49;
$primary-dark-tea:#1E151F;
$primary-light-pink:#FEF7F7;
$primary-light-green:#C8EDDD;
$primary-light-red:#F6C5C5;
$primary-light-yellow:#F3F5B1;
$primary-navbar:#4B1013;
$primary-coffee:#C7A17A;
$primary-coffee-light:#EDDFD1;
$text-gray:#B5A8A8;