@import "../../styles/var";
.aboutus{
    .about_img{
        img{
            object-fit: cover;
            // width: max-content;
            position: relative;
            height: max-content;
            background-size: cover;
        }
    }
    .about_text{
        p{
            font-size: 18px;
            text-align: justify;
        }
        .text_orange{
            color: $primary-orange;
          }
          .text_blue{
            color: $primary-blue;
          }
    }
}